body{
    background-color: lightblue;
    font-family: 'Times New Roman', Times, serif;
    margin: 50px;
}
.container {
    width: 700px;
    margin: auto;
    background-color: azure;
    padding:  0 10px;
}
header h1 {
    font-size: 25px;
    font-family:Lobster ;sans-serif ;
    padding: 5px 0;
}
header .connect{
    background-color:  rgb(193, 247, 113);
    padding:  0 20px ;
}
header .connect a{
    padding: 10px 10px;
    display: inline-block;
    text-decoration: none;
}
header .connect a:link{
color: maroon;
}
header .connect a:hover{
color: red;
}
header .connect a:active{
color: midnightblue;
}
header .connect a:visited{
color: orangered;
}
.information{
    border: solid 0px;]
    margin: 0 0 0;
}
.information h3{
    background-color: rgb(191, 245, 110);
    padding-left:2px ;
    margin-left: 4px;
    margin-right: 4PX;
}
.information .info-data{
    padding:5px 5px;
}
.table-1{

}
.table-1 tr{
}
.table-1 td{
    border: solid 1px;
    padding: 5px;
    text-align: center;
}
.table-1 th{
    border: solid 1px;
    background-color:rgb(184, 250, 85);
}